<template>
  <section>
    <nav>
      <img src="../assets/nasa2.png" class="img-nav" />
    </nav>
    <section class="container">
      <h1>We make a Nasa <br />Interfaces</h1>
    </section>
    <hr />
    <footer>
      <div class="container-left">
        <p class="txt-left">We design for people not use dribble.</p>
      </div>
      <div class="container-right">
        <router-link to="/reality" class="link">
          <p class="txt-right" route="">We development for people use VR.</p>
        </router-link>
      </div>
    </footer>
  </section>
</template>
<script>
export default {
  name: "Home",
  components: {},
};
</script>
<style scoped lang="scss">
@import "../assets/styles/main.scss";
</style>
