<template>
  <a-scene>
    <a-sky :src="image" rotation="0 -130 0"></a-sky>
    <a-text
      font="kelsonsans"
      value="Made by @lirrums"
      width="2"
      position="-2.6 0.25 -1.5"
      rotation="0 10 0"
    ></a-text>
  </a-scene>
</template>
<script>
require("aframe");
import Image from "../assets/vr.jpg";

export default {
  data() {
    return {
      image: Image,
    };
  },
};
</script>
