/***

- AUTHOR: Lirrums
- LANGUAGE: Vue.js 
- TOPIC: Vue.js + VR
- GITHUB: [https://github.com/lirrumscode/]

***/

nav {
  display: block;
  width: 100%;
  .img-nav {
    float: right;
    width: 10% ;
    padding-right: 3%;
  }
}
.container {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  h1 {
    color: #eee;
    text-align: right;
    font-size: 80px;
    padding-right: 5%;
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
  }
}
hr {
  width: 90% !important;
  color: #bbddbb !important;
}
footer {
  display: flex;
  flex-wrap: wrap;
  .container-left {
    flex: 6;
    .txt-left {
      color: #fff;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      padding-left: 3%;
      text-align: center;
    }
  }
  .container-right {
    flex: 6;
    .link {
      text-decoration: none;
      .txt-right {
        color: #fc3d21;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        padding-right: 2%;
        text-align: center;
      }
    }
  }
}

/*
* START A MEDIAQUERIES WITH SASS
*/
@media only screen and (max-width: 360px) { 
  .container {
    height: 50vh;
    h1 {
      font-size: 50px;
    }
  }
  nav {
    .img-nav {
      width: 40%;
      padding-top: 10%;
    }
  }
  footer {
    .container-left {
      flex: 6 100%;
      .txt-left {
        font-size: 16px;
      }
    }
    .container-right {
      flex: 6 100%;
      .link {
        .txt-right {
          font-size: 16px;
        }
      }
    }
  }
}
@media only screen and (max-width: 414px) { 
  .container {
    height: 50vh;
    h1 {
      font-size: 50px;
    }
  }
  nav {
    .img-nav {
      width: 40%;
      padding-top: 10%;
    }
  }
  footer {
    .container-left {
      flex: 6 100%;
      .txt-left {
        font-size: 16px;
      }
    }
    .container-right {
      flex: 6 100%;
      .link {
        .txt-right {
          font-size: 16px;
        }
      }
    }
  }
}
@media only screen and (max-width: 411px) { 
  .container {
    height: 50vh;
    h1 {
      font-size: 50px;
    }
  }
  nav {
    .img-nav {
      width: 40%;
      padding-top: 10%;
    }
  }
  footer {
    .container-left {
      flex: 6 100%;
      .txt-left {
        font-size: 16px;
      }
    }
    .container-right {
      flex: 6 100%;
      .link {
        .txt-right {
          font-size: 16px;
        }
      }
    }
  }
}
@media only screen and (max-width: 375px) { 
  .container {
    height: 50vh;
    h1 {
      font-size: 50px;
    }
  }
  nav {
    .img-nav {
      width: 40%;
      padding-top: 10%;
    }
  }
  footer {
    .container-left {
      flex: 6 100%;
      .txt-left {
        font-size: 16px;
      }
    }
    .container-right {
      flex: 6 100%;
      .link {
        .txt-right {
          font-size: 16px;
        }
      }
    }
  }
}
/*
* END A MEDIAQUERIES WITH SASS
*/